<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:test.buul-load-balancer.link</string>
		<string>webcredentials:prod.buul-load-balancer.link</string>
		<string>webcredentials:shad-enormous-skink.ngrok-free.app</string>
		<string>applinks:test.buul-load-balancer.link</string>
		<string>applinks:prod.buul-load-balancer.link</string>
		<string>applinks:shad-enormous-skink.ngrok-free.app</string>
	</array>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-only</key>
	<true/>
</dict>
</plist>
